[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[packages]
discord-py = "*"
aiodns = "*"
aiohttp = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
